.container-fluid {
    background-image: url(./back.jpg);
}
#second {
    background-image: url(./one.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.height {
    height: 270px;
    object-fit: contain;
}